{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<main class="d-flex">
  <div class="container-fluid light-teal p-0 d-flex flex-column justify-content-center align-items-center">
    <div class="text-center log-bg p-3 m-3 shadow-lg row">
      <h2 class="py-3">{% trans "Sign Out" %}</h2>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class= "my-3 log-btn btn">{% trans 'Sign Out' %}</button>
    </form>
  </div>
</div>
</main>

{% endblock %}
