@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto+Slab&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
	font-family: Roboto, sans-serif;
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

a {
	text-decoration: none;
}

.teal {
	background-color: #1f95ad;
}

.light-teal {
	background-color: #edf4f5;
}

#logo {
	font-family: Comfortaa, sans-serif;
	font-size: 2.3rem;
}

.orange {
	color: #fa9138;
}

.socialmedia-links li {
	list-style: none;
	display: inline-block;
}

footer i:hover {
	color: #fa9138;
}

.search-button {
	background-color: #1f95ad;
	color: white;
	font-size: inherit;
}

.search-button:hover {
	background-color: #fa9138;
	color: white;
}

.form-control {
	font-family: inherit;
	font-size: inherit;
}

.card {
	height: 100%;
}

.card-img-top {
	width: 100%;
	object-fit: cover;
	height: 350px;
}

.card-body {
	background-color: #1f95ad;
	color: white;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.card-body:hover {
	background-color: #fa9138;
}

.tab-button {
	color: #1f95ad;
}

.tab-button:hover {
	color: white;
	background-color: #1f95ad;
}

.log-btn {
	color: white;
	background-color: #1f95ad;
	font-size: inherit;
}

.log-btn:hover {
	background-color: #fa9138;
	color: white;
}

.log-link {
	color: #1f95ad;
}

.log-link:hover {
	color: #fa9138;
}

label {
	display: block;
}

label[for="id_remember"] {
	display: inline-block;
}

.log-bg {
	border: 2px solid #fa9138;
	border-radius: 0.25rem;
	background-color: white;
}

.recipe-image {
	width: 100%;
	object-fit: cover;
	height: 400px;
}

#recipe-detail {
	margin-right: 0;
	margin-left: 0;
}

#ingredients {
	border-radius: 0.25rem;
}

#recipe-title {
	color: #fa9138;
}

.icons {
	font-size: 3rem;
	color: #fa9138;
}

.icons:hover {
	color: #1f95ad;
}

.form-buttons {
	background-color: transparent;
	border: none;
	color: #fa9138;
	font-size: 3rem;
}

@media only screen and (max-width: 992px) {
	.icons {
		font-size: 1.5rem;
	}
	.form-buttons {
		font-size: 1.5rem;
	}
}
