{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container my-5 py-5">
        <form method="post" enctype="multipart/form-data" id="recipe-form">
            {% csrf_token %}
            <div class="card">
                <div class="card-header" id="create-header">
                    <h3 class="text-center py-3">Create a new Recipe</h3>
                </div>
                <div class="card-body ps-md-5" id="create-body">
                    {{ form.non_form_errors }}
                    {{ form.as_p }}
                </div>
            </div>
            <div class="mt-3 mb-5">
                <button type="submit" id="submit-recipe" class="px-5 btn btn-info">Submit</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}