{% extends 'base.html' %}

{% block content %}

<main>
    <section class="container py-5 text-center">
        {% if user.is_authenticated %}
        <div class="text-end">
            <a href="{% url 'create_recipe' %}"><i class="icons bi bi-plus-circle-fill" title="Create a new recipe!"></i></a>
        </div>
        {% endif %}
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="mb-5">{{category}}</h1>
                <p>Check all the {{category}} recipes shared by our community.</p>
            </div>   
        </div>
        <div class="row py-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <form class="d-flex" action="{% url 'search_results' %}" method="get">
                    <input name="q" class="form-control me-2" type="search" placeholder="Search CookBook" aria-label="Search" required>
                    <button class="btn search-button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </section>
    <section class="py-5 light-teal">
        <div class="container">
            {% if recipe_list|length == 0 %}
            <p class="text-center py-5">There are no recipes yet.</p>
            {% else %}
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3">
                {% for recipe in recipe_list %}
                <div class="col">
                    <a href="{% url 'recipe_detail' recipe.slug recipe.id %}">
                    <div class="card shadow">
                        <img src="{{recipe.recipe_image.url}}" class="card-img-top" alt="Recipe image">
                        <div class="card-body">
                          <p class="card-text text-center">{{ recipe.title }}</p>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
</main>

{% endblock %}