{% extends 'base.html' %}

{% block content %}

<main>
    {% if user.is_authenticated and user == recipe.author %}

    <section class="container py-5">
        <div class="text-end mb-4">
            <a href="{% url 'update_recipe' recipe.id %}" class="m-3"><i class="icons bi bi-pencil-square"></i></a>
            <a href="#" class="m-3"><i class="icons bi bi-trash"></i></a>
        </div>
        <h2 class="text-center py-md-5 fw-bold" id="recipe-title">{{recipe.title}}</h2>
        <div class="row" id="recipe-detail">
            <div class="col-lg-6 d-flex flex-column align-items-center light-teal py-5 px-sm-5 mt-5" id="ingredients">
                <div>
                    <img src="{{recipe.recipe_image.url}}" alt="Recipe image" class="shadow recipe-image">
                </div>
                <div class="mt-5">
                    <h3>Ingredients</h3>
                    <ul class="mt-4">
                        {% for ingredient in ingredients %}
                        <li class="fst-italic">{{ ingredient.name }} <span> ({{ ingredient.quantity }})</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0 py-5 px-sm-5">
                <h3 class="text-center">Instructions</h3>
                <ol>
                    {% for step in steps %}
                    <li class="py-3">{{ step.description }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>

    {% elif user.is_authenticated and user != recipe.author %}

    <section class="container py-5">
        <div class="text-end">
        <!--Likes form-->
        <form class="d-inline" action="{% url 'recipe_like' recipe.slug recipe.id %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button class="form-buttons" type="submit" name="recipe_id" value="{{ recipe.id }}">
                <i class="bi bi-heart-fill"></i>
            </button>
            {% else %}
            <button class="form-buttons" type="submit" name="recipe_id" value="{{ recipe.id }}">
                <i class="bi bi-heart"></i>
            </button>
            {% endif %}
        </form>
        <!--Favourites form-->
        <form class="d-inline" action="{% url 'recipe_favourite' recipe.slug recipe.id %}" method="POST">
            {% csrf_token %}
            {% if favourite %}
            <button class="form-buttons" type="submit" name="recipe_id" value="{{ recipe.id }}">
                <i class="bi bi-star-fill"></i>
            </button>
            {% else %}
            <button class="form-buttons" type="submit" name="recipe_id" value="{{ recipe.id }}">
                <i class="bi bi-star"></i>
            </button>
            {% endif %}
        </form>
        </div>
        <h2 class="text-center py-md-5 fw-bold" id="recipe-title">{{recipe.title}}</h2>
        <div class="row" id="recipe-detail">
            <div class="col-lg-6 d-flex flex-column align-items-center light-teal py-5 px-sm-5 mt-5" id="ingredients">
                <div>
                    <img src="{{recipe.recipe_image.url}}" alt="Recipe image" class="shadow recipe-image">
                </div>
                <div class="mt-5">
                    <h3>Ingredients</h3>
                    <ul class="mt-4">
                        {% for ingredient in ingredients %}
                        <li class="fst-italic">{{ ingredient.name }} <span> ({{ ingredient.quantity }})</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0 py-5 px-sm-5">
                <h3 class="text-center">Instructions</h3>
                <ol>
                    {% for step in steps %}
                    <li class="py-3">{{ step.description }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>

    {% else %}

    <section class="container py-5">
        <h2 class="text-center py-md-5 fw-bold" id="recipe-title">{{recipe.title}}</h2>
        <div class="row" id="recipe-detail">
            <div class="col-lg-6 d-flex flex-column align-items-center light-teal py-5 px-sm-5 mt-5" id="ingredients">
                <div>
                    <img src="{{recipe.recipe_image.url}}" alt="Recipe image" class="shadow recipe-image">
                </div>
                <div class="mt-5">
                    <h3>Ingredients</h3>
                    <ul class="mt-4">
                        {% for ingredient in ingredients %}
                        <li class="fst-italic">{{ ingredient.name }} <span> ({{ ingredient.quantity }})</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0 py-5 px-sm-5">
                <h3 class="text-center">Instructions</h3>
                <ol>
                    {% for step in steps %}
                    <li class="py-3">{{ step.description }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>

    {% endif %}
</main>

{% endblock %}